*{
    margin: 0;
    padding: 0;
}
body 
{   
    background-color : white;
    font-family: sans-serif;
}
.top-nav-bar
{
    height: 57px;
    top: 0;
    position: sticky;
    background : #fff;
    margin-bottom:0px;
    border-bottom: 10px solid white;
    z-index : 2;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25) !important;
}
.logo
{
    height: 40px;
    margin: 5px 10px 10px;
    padding: 10px;
}
.form-control
{
    margin-top: 10px;
    margin-left: 30px;
    color: #F5F5F5;;
    border: 1px solid whitesmoke !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 20px !important;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25) !important;   
}
.fa-search
{
    color: black;
}
.input-group-text
{
    margin: 10px 5px 5px 0;
    border: 1px solid whitesmoke !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 0px !important;
    cursor: pointer;
}
.search-box
{
    display: inline-flex;
    width: 60%;
    height: 48px;
}
.order-bar
{
    width: 40%;
    height: 57px;
    float: right;
}
.order-bar ul
{
    display: inline-flex;
    float: right;
}
.order-bar ul li
{
    border-left: 1px solid white;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: white;
}
.order-bar ul li a /*font*/
{
    font-size: 16px;
    font-weight:bold;
    color : black;
    text-decoration: none;
}
.fa-list-alt
{
    margin-right: 5px; 
    color: black;
}
.location-bar
{
    position: sticky;
    height:50px;
    top: 55px;
   
    background : white;
    margin-bottom: 20px;
    z-index : 2; 
    margin-top:5px;
}
.loc-search
{
    position: sticky;
    width: 280px;
    height: 30px;
    left: 50px;
    top: 15px;
    margin-top: 10px;
    margin-left: 10px;
    background: #F5F5F5;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid whitesmoke !important;
}
.input-loc
{
    display: inline-flex;
}
.fa-map-marker-alt
{
    margin-right: 5px; 
    color: black;
}
.prod
{
    padding: 10px 0;
}
.material-icons
{
    width: 30px;
    height: 30px;
}
.image
{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.prod-title
{
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
}
.prod-title-back
{
    background-color: whitesmoke;
    margin-left: 0px;
}
.price 
{
    font-size: 25px;
    line-height: 35px;
    color: #000000;
}